

*{
    margin: 0px;
    padding: 0px;
    font-size: 1em;
    
}


:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}




html,body {
    min-height: 100vh;
    background-color:darkgrey;
    font-family: var(--fonte1);
}



header {
    background-color: black;
    color: white;
    text-align: center;



}

header > h1 {

    padding-top: 50px;
    font-variant: small-caps; /*transforma em letra maiuscula*/
    font-family: var(--fonte2);
    font-size: 10vw;
    
   
}

header > p {
    padding-bottom: 50px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

section {
    padding-left: 20px;
    line-height: 2em;
    padding-top: 10vh;
    padding-bottom: 10vh;
    font-family: var(--fonte3);
    font-size: 4.5vw;
    


}

section.normal{
    background-color: white;
    color: black;


}


section.imagem{
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.788);
    color: white;
    background-position: right center;
    text-shadow: 1px 1px 0px black;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.534);
   
}

section.imagem > p {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.438);
    padding: 5px;
    background-position: right center;
 
}

section#img01{
    background-size: cover;
    
    background-image: url(imagens/background001.jpg);
}

section#img02{
    background-size: cover;
    background-image: url(imagens/background002.jpg);

}

a:hover{
    text-decoration: underline;

}

header :hover, footer a:hover {
    text-decoration: underline;
}




footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}