

body {
    background-color: lightgreen;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(2, 77, 2);
}

h1#principal {
    text-align: center;
    background-color: green;
    color: white;
}

h2 {

    color: rgb(38, 177, 38);
}

.basico {
    color: rgb(161, 144, 238);
}

.intermediario{
    color: lightyellow;
}

.avancado {
    color: lightsalmon;
}


.destaque {
    background-color: yellow;
}