
* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right,#F5E1B8,#EAF58A);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px black;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #90F595;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(5, 4, 4, 0.445);
}

h2 {
    color:#AAF5E2 ;


}

p {
   
    text-align: justify;

}